name: Web Media SDK Pull Request

on: pull_request

jobs:
    build-and-test:
        name: Build and Test
        runs-on: ubuntu-latest
        continue-on-error: true # Prevents parallel job from being cancelled if all fail
        strategy:
            matrix:
                node-version: [18.x, 20.x, 22.x, 24.x]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: NPM install ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Run NPM CI
              run: npm ci

            - name: Lint with ESLint
              run: npm run lint

            # Test command runs build then tests both TS and compiled JS
            - name: Run Build and All Tests
              run: npm run test

            - name: Archive npm failure logs
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                  name: npm-logs-${{ github.job }}-${{ matrix.node-version || 'latest' }}-run${{ github.run_attempt }}
                  path: ~/.npm/_logs
